
.image{


}
.start{
    background-image: url("image/yubs.jpg");
    background-repeat: no-repeat;
    background-size: cover ;
    height: 800px;
    text-align: center;
    position: relative;
    margin-top: 60px;
    margin-bottom: 60px;
    border-radius: 20%;
    background-color: blueviolet;
}
.h1 {
    position: absolute;
    top: 50%;
    left: 400px;
    top: 300px;
    font-size: 100px;
    color: white;
    font-weight: bold;
    font-style: italic;
}

body{
    background-color: rgb(172, 157, 154);
}

#with {
    color: red;
    font-size: 150px;
    
}
.code{
color: blue;
}
#ayub{
    font-family: fantasy;
    font-size: 200px;
    color: darkorange;
    
}
.lang{
color: red;
display: grid;


}

li{
    display: inline;
    padding: 100px;
    font-size: 35px;
    margin-left: 200px;
    
    
    
}
.nav-bar {
    background-color: aliceblue;
    color: aqua;
}
table{
    padding-top: 20;
    color: black;
}
.me{
    font-display: 50px;
    font-weight: 200px;
    color: yellowgreen;
    font-family: serif;
}
.links{
    padding:40px ;
}
.h11{
text-align: center;
margin-right: 600px;
}
.column{
    float: left;
    width: 40%;
    font-size: large;
    
}
.column2{

    width: 60%;
    float: right;
    height: 650px;
}

.bbb{
    width: 100%;
    border-radius: 40px;
}
.row{
margin-bottom: 300px;



}
.row2 {

    float: left;
    width: 50%;
    text-align: center;
    margin-left: 400px;
   
}
.u{
    font-display: 50px;
    font-weight: 200px;
    color:black;
    font-family: serif;
}
.form{
    text-align: center;
    margin-top: -45px;
    width: 100%;
    font-size:x-large; 
}
input{
    width: 100%;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
    

}
.PP{
font-size: x-large;
border-radius: 50%;
color: dodgerblue;

}
    
    
.aboutrow {
    height: 500px;
    background-color: antiquewhite;
    margin-top: 800px;
    text-align: center;
    
}

.aboutcolumn {
    float: left;
    width: 30%;
    text-align: center;
    background-color: rgb(184, 212, 212);
    height: 300px;
    box-shadow:inset;
    border-radius: 15px;
    margin-left: 50px;
}
#abouthead _{
    text-align: center;
    font-size: 20px;
    width: 100%;
}
.aboutimg {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}