
.image{


}
.row{
    background-image: url("image/yubs.jpg");
    background-repeat: no-repeat;
    background-size: cover ;
    height: 800px;
    text-align: center;
    position: relative;
    margin-top: 60px;
    margin-bottom: 60px;
    border-radius: 20%;
    background-color: blueviolet;
}
.h1 {
    position: absolute;
    top: 50%;
    left: 400px;
    top: 300px;
    font-size: 100px;
    color: white;
    font-weight: bold;
    font-style: italic;
}

.body{
    background-color: chocolate;
}

#with {
    color: red;
    font-size: 150px;
    
}
.code{
color: blue;
}
#ayub{
    font-family: fantasy;
    font-size: 200px;
    color: darkorange;
    
}
.lang{
color: red;
display: grid;


}

li{
    display: inline;
    padding: 40px;
    font-size: 35px;
}
table{
    padding-top: 20;
    color: red;
}
.me{
    font-display: 50px;
    font-weight: 200px;
    color: darkorange;
    font-family: serif;
}
.links{
    padding:40px ;
}
.h11{
text-align: center;
margin-right: 600px;
}