
.image{


}
.row{
    background-image: url("image/yubs.jpg");
    background-repeat: no-repeat;
    background-size: cover ;
    height: 800px;
    text-align: center;
    position: relative;
    margin-top: 60px;
    margin-bottom: 60px;
    border-radius: 20%;
    ;
}
.h1 {
    position: absolute;
    top: 50%;
    left: 400px;
    top: 300px;
    font-size: 100px;
    color: white;
    font-weight: bold;
    font-style: italic;
}

#with {
    color: red;
    font-size: 150px;
    
}
.code{
color: blue;
}
#ayub{
    font-family: fantasy;
    font-size: 200px;
    color: darkorange;
    
}